body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
span{
    font-weight: 600;
    
}
#container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 70vh;
}

#sidebar {
    background-color: rgb(24, 95, 173);
    color: #fff;
    width: 35%;
    padding: 20px;
    overflow: overlay;
}
#clock{
    display: flex;
    justify-content: space-around;
    font-size: 3vh;
    padding: 35px 15px;
}
#main {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
#class-details a{
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    box-shadow: rgba(46, 114, 240, 0.3) 5px 10px, 0px 2px; 
    background-color: rgb(33, 129, 219);
}
#class-details a:hover{
    opacity: 1;
}
#class-list {
    list-style-type: none;
    padding: 0;
    height: 67%;
}

#class-list li {
    margin-bottom: 25px;
    cursor: pointer;
    border-bottom: 2px solid rgb(48, 148, 255);
    font-size: 20px;
}

#class-list li:hover {
    font-weight: bold;
    border-bottom: 2px solid rgb(4, 69, 138);
}

#class-details {
    font-size: 18px;
}

#class-link{
    align-items: end;
    border-top: 2px solid rgb(4, 69, 138);
}
#calendar {
    width: 100%; 
    background-color: #fff; 
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid rgb(4, 69, 138);
}

#calendar .day {
    font-size: 18px;
    margin: 5px;
    padding: 10px;
}

#calendar .event {
    background-color: rgb(4, 69, 138);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}
.calendar-container {
    background: #fff;
    width: 100%;
    height: 490px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    min-width: 300px;
}
.calendar-container header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 30px 10px;
    cursor: default;
}
.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}
.calendar-body .calendar-dates {
    margin-bottom: 20px;
    padding: 0px;
}
 
.calendar-body li {
    width: calc(100% / 7);
    font-size: 1.07rem;
    color: #414141;
}
 .calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
}
 
.calendar-body .calendar-dates li {
    margin-top: 30px;
    position: relative;
    z-index: 1;
}
.calendar-dates li:hover{
    cursor: pointer;
}
.calendar-dates li.active {
    color: #fff;
}
.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.calendar-dates li.active::before {
    background: rgb(4, 69, 138);
}
.calendar-dates li:not(.active, .inactive):hover::before {
    background: #e4e1e1;
    cursor:auto;
}
.calendar-current-date{
    margin: 10px;
} 
.calendar-navigation:hover{
    cursor: pointer;
}
.calendar-navigation{
    background-color: transparent;
    border: none;
}

.arrow-right, .arrow-left{
  display: block;
  margin: 30px auto;
  width: 25px;
  height: 25px;
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}
.arrow-right{
 transform: rotate(135deg);
}

.arrow-left{
 transform: rotate(-45deg);
}

@media screen and (width <= 600px) {
    body{
        display: block;
        min-height: 100%;
        overflow: visible;
    }
    #container{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    #main{
        display: flex;
        width: 90%;
    }
    
    #sidebar{
        width: 90%;
        align-items: center;
    }
    #sidebar h2{
        display: flex;
        justify-content: center;
    }
}
